@charset "UTF-8";

body {
	min-width: 1500px;
}

header {
	background: #000000db;
	text-align: center;
	color: white;
	font-size: 35px;
	margin: 0px;
	margin-bottom: 2px;
}

body {
	max-width: 100%;
}

header h1 {
	margin: 0;
}

#img1 {
	width: 150px;
	height: 50px;
	padding-top: 5px;
}

nav {
	background: #000000db;
	height: 76px;
	text-align: center;
}

nav ul {
	margin: 0;
}

nav a {
	color: white;
	letter-spacing: 6px;
	font-size: 50px;
	padding: 15px;
	text-decoration: none;
}

.nav {
	padding-top: 23px;
}

#left {
	margin-top: 5px;
	background: #000000db;
	float: left;
	width: calc(15% - 1%);
	height: 1590px;
}

#left h1 {
	color: white;
}
aside li{
	list-style: none;
	font-size: 10px;
}

#uu {
	margin: 0;
	padding: 0;
	padding-left: 21px;
}

#kk {
	list-style: none;
	border-bottom: 3px solid white;
	padding-top: 40px;
}

#main {
	display: inline-block;
	margin-left: 30px;
	margin-top: 5px;
	width: calc(70% - 1%);
}

iframe {
	width: 101%;
	height: 1580px;
	
}

section {
	width: 400px;
	height: 400px;
}

#right {
	margin-top: 5px;
	background: #000000db;
	float: right;
	width: calc(15% - 1%);
	height: 1590px;
}

#right h1 {
	color: white;
	
}

#id{
	width: 200px;
	height: 50px;
}
#bt{
	width: 200px;
	height: 50px;
	font-size: 20px;
}
label{
	font-size: 30px;
}

#qq {
	color: white;
	padding-left: 37px;
}
#hh{
	list-style: none;
	float: left;
	font-size: 2px;
}
#sp{
	list-style : none;
	font-size: 20px;
}

.ft {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #000000db;
}

.ft h3 {
	text-align: center;
	color: white;
}

a:link {
	color: white;
	font-size: 28px;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
	font-size: 2em;
	text-decoration: none;
}

